@import 'utils/color';
@import 'utils/fonts';


@import 'components/covervid';
@import 'components/preload';
@import 'components/content';
@import 'components/email';
@import 'components/copy';
@import 'components/loader';
@import 'components/logo';

html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
