.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  video{
    width: 100%;
  }
}
#background-video-wrap-intro {
  opacity: 0;
  transition: 1000ms 1000ms opacity ease-in-out;
  &.loaded {
    opacity: 0.9;
  }
}
#background-video-wrap-loop {
  opacity: 0;
  transition: 1000ms 1000ms opacity ease-in-out;
  &.loaded {
    opacity: 0.9;
  }
}
