$opacity: 0.3;

.email{
  z-index:10;
  letter-spacing: 3px;
  .border-radius{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 5px solid $blue;
    width: 100%;
    height: 100%;
    max-width: 650px;
    padding-top: .8rem;
    padding-bottom: .5rem;
    line-height: normal;
    @media (max-width:40em) {
      border-radius: 10px;
      border: 3px solid $blue;
    }
  }
  .button{
    background-color: $blue;
    transition: 650ms ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  input{
    background-color: transparent;
    font-size: 2rem;
  }
  ::-webkit-input-placeholder {
      color: $blue;
      opacity: $opacity;
  }
  :-moz-placeholder {
     color:    $blue;
     opacity: $opacity;
  }
  ::-moz-placeholder {
     color:   $blue;
     opacity: $opacity;
  }
  :-ms-input-placeholder {
     color:    $blue;
  }
}
