.email{
  width: 100%;
  .border-radius{
    border-radius: 15px;
    border: 5px solid $blue;
    width:100%;
  }
  .input{
    background-color: transparent;
  }
  .button{
    background-color: $blue;
    color:lavender;
  }
  ::-webkit-input-placeholder {
      color: $blue;
  }
  :-moz-placeholder {
     color:    $blue;
     opacity:  1;
  }
  ::-moz-placeholder {
     color:   $blue;
     opacity:  1;
  }
  :-ms-input-placeholder {
     color:    $blue;
  }
}
