.email{
  width: 100%;
  .border-radius{
    border-radius: 15px;
    border: 5px solid $blue;
    width:100%;
    max-width: 650px;
    padding-top: .5rem;
    @media (max-width:40em) {
      border-radius: 10px;
      border: 3px solid $blue;
      padding-top: .25rem;
    }
  }
  .button{
    background-color: $blue;
  }
  input{
    border-width: 0px;
    background-color: transparent;
  }
  ::-webkit-input-placeholder {
      color: $blue;
      opacity:.75;
  }
  :-moz-placeholder {
     color:    $blue;
     opacity:.75;
  }
  ::-moz-placeholder {
     color:   $blue;
     opacity:.75;
  }
  :-ms-input-placeholder {
     color:    $blue;
  }
}
