{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div class="covervid-wrapper" id="background-video-wrap">
    <video class="covervid-video" autoplay loop poster="static/videos/gilmore.gif">
        <source src="static/videos/large.mp4" id="background-video" type="video/webm">
    </video>
</div>

{% endblock %}
