{% extends "templates/partials/base.html" %}
{% block content %}
<div id='thanks' class='bg-blue px2' style='height: 100%; width:100%'>
  <div class="py1 px1 relative v-center">
    <div class="center">
      <a href='/'>
        <img class='mb3' style='max-width:240px;' src='/static/images/bsc-logo-white.svg' />
      </a>
      <h2 class='m0 bebas white mb3'>PRESS ASSETS</h2>
      <p class='white body-copy mb3'>
        Easy to use assets are available via our public Google Drive folder.
      </p>
      <a href='https://drive.google.com/drive/folders/0B_A4sox6VN4MdVdWeFgwWVJQZlU?usp=sharing'>
        <div class='fb-share'>
          <img style='width:18px;margin-right:4px;' src='/static/images/drive.svg' />
          Access via Google Drive
        </div>
      </a>
  </div>
</div>
{% endblock %}
